body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #94BDF2;
    font-family: 'Raleway', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0 20px;
}

#menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

#menu li a:hover {
    color: #94BDF2; 
}



.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.contact-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    .contact-form h2 {
        font-size: 20px;
    }
}
