body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #94BDF2;
    font-family: 'Raleway', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 5px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    width: 90vw;
}

#menu.hidden {
    display: none;
}

#menu li {
    margin: 10px 0;
}

#menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-family: raleway;
}



.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.contact-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}
